<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Change password</h3>
  </div>
  <div class="panel-body">

    <form name="form" class="form-horizontal" role="form" novalidate ng-submit="changePassword()">

      <messages-alert messages="form.serverErrors" kind="danger"></messages-alert>

      <div class="form-group">
        <label for="oldPassword" class="col-lg-3 control-label">Enter existing password</label>
        <div class="col-lg-9">
          <input id="oldPassword" ng-model="passwords.oldPassword" name="oldPassword" type="password" server-validation required minlength="6" maxlength="30" class="form-control" />
          <div ng-show="form.oldPassword.$invalid" class="text-danger">

            <div ng-messages="form.oldPassword.$error" role="alert">
              <div ng-message="required">Please provide your existing password</div>
              <div ng-message="minlength, maxlength">
                Password must be between 6 and 30 characters long
              </div>
            </div>

            <messages messages="form.serverFieldErrors.oldPassword"></messages>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-lg-3 control-label">Enter a new password</label>
        <div class="col-lg-9">
          <input id="password" ng-model="passwords.password" name="password" type="password" server-validation required minlength="6" maxlength="30" class="form-control" />
          <div ng-show="form.password.$invalid" class="text-danger">

            <div ng-messages="form.password.$error" role="alert">
              <div ng-message="required">Please provide a password</div>
              <div ng-message="minlength, maxlength">
                Password must be between 6 and 30 characters long
              </div>
            </div>

            <messages messages="form.serverFieldErrors.password"></messages>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="retypePassword" class="col-lg-3 control-label">Re-enter new password</label>
        <div class="col-lg-9">
          <input id="retypePassword" ng-model="passwords.retypePassword" name="retypePassword" type="password" server-validation required compare-to="passwords.password" minlength="6" maxlength="30" class="form-control" />
          <div ng-show="form.retypePassword.$invalid" class="text-danger">

            <div ng-messages="form.retypePassword.$error" role="alert">
              <div ng-message="required">Please provide a password</div>
              <div ng-message="minlength, maxlength">
                Password must be between 6 and 30 characters long
              </div>
              <div ng-message="compareTo">Passwords do not match</div>
            </div>

            <messages messages="form.serverFieldErrors.retypePassword"></messages>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
          <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary">Change Password</button>
        </div>
      </div>
    </form>

  </div>
</div>
