<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Forgot password?</h3>
  </div>

  <div class="panel-body">

    <form name="form" novalidate class="form-horizontal" role="form" ng-submit="forgotPassword()">

      <messages-alert messages="form.serverErrors" kind="danger"></messages-alert>

      <div class="form-group">
        <label for="forgotPasswordEmail" class="col-md-3 control-label">Email</label>
        <div class="col-md-9">
          <input ng-model="email" name="email" type="email" required server-validation minlength="4" maxlength="100" class="form-control" id="forgotPasswordEmail" placeholder="you@example.com">
          <div ng-show="form.email.$invalid" class="text-danger">

            <div ng-messages="form.email.$error" role="alert">
              <div ng-message="required">Please provide your email</div>
              <div ng-message="email">This is not a valid email</div>
            </div>

            <messages messages="form.serverFieldErrors.email"></messages>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <button ng-disabled="form.$invalid" type="submit" class="btn btn-success">Forgot Password</button>
        </div>
      </div>

    </form>

  </div>
  </div>

</div>
