<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Reset your password</h3>
  </div>
  <div class="panel-body">

    <form name="form" class="form-horizontal" role="form" novalidate ng-submit="resetPassword()">

      <messages-alert messages="form.serverErrors" kind="danger"></messages-alert>

      <div class="form-group">
        <label for="newPassword" class="col-lg-3 control-label">Enter a new password</label>
        <div class="col-lg-9">
          <input id="newPassword" ng-model="newPassword" name="newPassword" type="password" required server-validation minlength="6" maxlength="30" class="form-control" />
          <div ng-show="form.newPassword.$invalid" class="text-danger">

            <div ng-messages="form.newPassword.$error" role="alert">
              <div ng-message="required">Please provide a password</div>
              <div ng-message="minlength, maxlength">
                Password must be between 6 and 30 characters long
              </div>
            </div>

            <messages messages="form.serverFieldErrors.newPassword"></messages>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="retypePassword" class="col-lg-3 control-label">Re-enter new password</label>
        <div class="col-lg-9">
          <input id="retypePassword" ng-model="retypePassword" name="retypePassword" type="password" required compare-to="newPassword" minlength="6" maxlength="30" class="form-control" />
          <div ng-show="form.retypePassword.$invalid" class="text-danger">

            <div ng-messages="form.retypePassword.$error" role="alert">
              <div ng-message="required">Please provide a password</div>
              <div ng-message="minlength, maxlength">
                Password must be between 6 and 30 characters long
              </div>
              <div ng-message="compareTo">Passwords do not match</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
          <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary">Set Password</button>
        </div>
      </div>
    </form>

  </div>
</div>
